* {
  box-sizing: border-box;
}

/* applying styling to the body tag*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 50px;
}

/*initiallizing the CSS Grid for the nav bar*/
header h1 {
  grid-area: myHeader;
}

nav {
  grid-area: myNav;

}
/* applying styling to the header tag*/
header {
  display: grid;
  grid-template-columns: 10% auto auto auto auto 25%;
  grid-template-areas:
  'myHeader auto auto auto auto myNav';
  padding-right: 0;
  background-color: rgb(77, 76, 76);
}

nav ul li {
  display: grid;
  float: left;
  padding-right: 20px;
}

nav ul {
  margin-right: 10px;
  font-weight: 700;
}

/* applying styling to the H1 tag*/
.heading {
  font-size: 30px;
  background-color: lightseagreen;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}


/* applying styling to the list tags*/
header li {
  list-style: none;
  padding: 0 5px;
  
}

/* applying color and font size to the anchor tags*/
nav a {
  color: teal;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}


/* applying styling to the hero section*/
.hero-banner {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* applied styling to the h2 tag of the hero section */
.hero-div h2 {
  float: right;
  background-color: rgb(149, 240, 236);
  margin-right: 50px;
  margin-top: 250px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(47, 46, 46);
}

/* applied Grid styling to the main tag section */
.page-wrapper {
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
  margin-left: 80px;
  margin-right: 50px;
  color: darkslategrey;
  text-align: justify;
}


/* initializing the CSS Grid columns for the h2 tags and contents */
.page-section .grid-items {
  grid-area: myItems;
}

.page-section .grid-places {
  grid-area: myPlaces;
}

/*setting the CSS Grid Column Layout for h2 tags and contents*/
.page-section {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: 
  'myItems myPlaces'
  'myItems myPlaces'
  'myItems myPlaces'
}

/*setting the border Layouts for the h2 tags */
.grid-items {
  border-right-style: solid;
  border-width: 2px;
  border-color: darkslategrey;
  text-align: right;
  padding-right: 5px;
}

/*setting the padding for the h2 contents*/
.grid-places {
  padding-left: 20px;
}

/*initializing the CSS Grid layout for the mern-stack class elements*/
.mern-stack {
  grid-area: mernStack;
}

/* Applying CSS styling to the images in the portfolio section */
.mern-stack2 {
  height: 400px;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-4.jpg");
}

/*initializing the CSS Grid layout for the led-wall class elements*/
.led-wall {
  grid-area: ledWall;
}

/* Applying CSS styling to the images in the portfolio section */
.led-wall2 {
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-1.jpg");
}

/*initializing the CSS Grid layout for the calculator class elements*/
.calculator {
  grid-area: calculator;
}

/* Applying CSS styling to the images in the portfolio section */
.calculator2 {
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-2.jpg");
}

/*initializing the CSS Grid layout for the pastel-puzzels class elements*/
.pastel-puzzels {
  grid-area: pastelPuzzels;
}

/* Applying CSS styling to the images in the portfolio section */
.pastel-puzzels2 {
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-3.jpg");
}

/*initializing the CSS Grid layout for the run-buddy class elements*/
.run-buddy {
  grid-area: runBuddy;
}

/* Applying CSS styling to the images in the portfolio section */
.run-buddy2 {
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-run-buddy.jpg");
}


/*setting the CSS Grid layout for the grid-mern class elements*/
#work .grid-places {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  'mernStack mernStack'
  'ledWall calculator'
  'pastelPuzzels runBuddy';
  gap: 10px;
}

/* Applied CSS styling to the h3 elements of the Work section*/
.mern-stack h3 {
    float: left;
    background-color: rgb(149, 240, 236);
    margin-top: 300px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(47, 46, 46);
  }

  .seo {
    font-size: 10px;
  }
  
#other-work h3 {
    float: left;
    background-color: rgb(149, 240, 236);
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(47, 46, 46);

}

/* Applied CSS styling to the image element of the Resume section*/
.my-resume img {
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  margin-left: 300px;
}

/* applying styling to the list tags of the Contact section*/

#contact-me ul {
  margin-left: 250px;
  align-content: space-between;


}
.grid-places li {
  list-style: none;
  display: inline-grid;
  padding: 0 20px;
}

/* applying color and font size to the anchor tags*/
a {
  color: teal;
  font-size: 15px;
}

/* applying media query to the CSS styling*/
@media only screen and (max-width: 1000px) {
  header {
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-areas:
    'myHeader auto auto auto myNav myNav';
  }

  nav ul li {
    float: left;
    padding-right: auto;
  }

  .hero-banner {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    
  }

  .hero-div h2 {
    margin-top: 50px;
  }

  .page-wrapper {
    grid-template-rows: 200px;
    row-gap: 20px;
    margin-left: 50px;
    margin-right: auto;
  }

  #work .grid-places {
    grid-template-columns: 1fr;
    grid-template-areas:
    'mernStack'
    'ledWall'
    'calculator'
    'pastelPuzzels'
    'runBuddy';
  }

  .my-resume img {
    margin-left: 30px;
  }

  .grid-items {
    text-align: right;
    margin-right: 0;
    padding-right: 50px;
  }

  .grid-places {
    padding-left: 40px;
  }

  .grid-places p {
    padding-right: 40px;
  }

  #contact-me ul {
    margin-left: 40px;
  }

}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
