* {
  box-sizing: border-box;
}

/* applying styling to the body tag*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 50px;
}

/* applying styling to the header tag*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(77, 76, 76);
}

/* applying styling to the H1 tag*/
.heading {
  font-size: 1.5rem;
  text-align: left;
  background-color: lightseagreen;
  padding-left: 40px;
  padding-right: 10px;
  flex: 30%
  
}

/* applying styling to the ul tag*/
ul {
  flex: 60%
}

/* applying styling to the list tags*/
header li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  
}

/* applying color and font size to the anchor tags*/
a {
  color: teal;
  font-size: 15px;
}

/* applying styling to the media query and setting the viewport*/
@media (max-width: 800px) {
  .heading, ul {
    flex: 100%;
  }
}

/* applying styling to the hero section*/
.hero-banner {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* applied styling to the h2 tag of the hero section */
.hero-div h2 {
  float: right;
  background-color: rgb(149, 240, 236);
  margin-right: 50px;
  margin-top: 250px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(47, 46, 46);
}

/* applied Grid styling to the main tag section */
.page-wrapper {
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
  margin-left: 80px;
  margin-right: 50px;
  color: darkslategrey;
  text-align: justify;
}


/* initializing the CSS Grid columns for the h2 tags and contents */
.page-section .grid-items {
  grid-area: myItems;
}

.page-section .grid-places {
  grid-area: myPlaces;
}

/*setting the CSS Grid Column Layout for h2 tags and contents*/
.page-section {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: 
  'myItems myPlaces'
  'myItems myPlaces'
  'myItems myPlaces';
}

/*setting the border Layouts for the h2 tags */
.grid-items {
  border-right-style: solid;
  border-width: 2px;
  border-color: darkslategrey;
  text-align: right;
  padding-right: 5px;
}

/*setting the padding for the h2 contents*/
.grid-places {
  padding-left: 20px;
}

/*initializing the CSS Grid layout for the grid-mern class elements*/
.mern-stack {
  grid-area: mernStack;
  height: 400px;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-4.jpg");
}

.led-wall {
  grid-area: ledWall;
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-1.jpg");
}

.calculator {
  grid-area: calculator;
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-2.jpg");
}

.pastel-puzzels {
  grid-area: pastelPuzzels;
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-portfolio-3.jpg");
}

.run-buddy {
  grid-area: runBuddy;
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: lightseagreen;
  background-image: url("../images/02-run-buddy.jpg");
}


/*setting the CSS Grid layout for the grid-mern class elements*/
#work .grid-places {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  'mernStack mernStack'
  'ledWall calculator'
  'pastelPuzzels runBuddy';
  gap: 10px;
}

/* Applied CSS styling to the h3 elements of the Work section*/
.mern-stack h3 {
    float: left;
    background-color: rgb(149, 240, 236);
    margin-top: 300px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(47, 46, 46);
  }

  .seo {
    font-size: 10px;
  }
  
#other-work h3 {
    float: left;
    background-color: rgb(149, 240, 236);
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(47, 46, 46);

}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
