* {
  box-sizing: border-box;
}

/* applying styling to the body tag*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* applying styling to the header tag*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(77, 76, 76);
}

/* applying styling to the H1 tag*/
.heading {
  font-size: 1.5rem;
  text-align: left;
  background-color: lightseagreen;
  padding-left: 40px;
  padding-right: 10px;
  flex: 30%
  
}

/* applying styling to the ul tag*/
ul {
  flex: 60%
}

/* applying styling to the list tags*/
header li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  
}

/* applying color and font size to the anchor tags*/
a {
  color: teal;
  font-size: 15px;
}

/* applying styling to the media query and setting the viewport*/
@media (max-width: 800px) {
  .heading, ul {
    flex: 100%;
  }
}

/* applying styling to the hero section*/
.hero-banner {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-div h2 {
  float: right;
  background-color: rgb(149, 240, 236);
  margin-right: 50px;
  margin-top: 250px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(47, 46, 46);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
